APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost/matheopolis
APP_PATH=/

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

USER_COOKIE=user_id
USER_FLASH_KEY=flash_messages
USER_CSRF_KEY=csrf_token
TEACHER_JOIN_CODE=prof2026