APP_ENV=dev
APP_DEBUG=true
APP_MAINTENANCE=false
APP_URL=http://localhost/matheopolis
APP_PATH=/
APP_FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

USER_COOKIE=user_id
USER_FLASH_KEY=flash_messages
USER_CSRF_KEY=csrf_token
SESSION_IDLE_TIMEOUT=1800
SESSION_COOKIE_SAMESITE=Strict